{
	admin off
}

:80 {
	encode zstd gzip

	handle_path /api/* {
		reverse_proxy traq-ing-server:8080
	}

	route * {
		root * /usr/share/caddy
		file_server {
			precompressed br gzip
			pass_thru
		}
		try_files {path} /index.html
	}
}
